.mainCatalogContainer {
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding: 48px 64px 52px 64px;
}

.catalogContainer {
  width: 888px;
}

.catalogItem {
  height: 368px;
  padding: 24px;
}

.imgContainer {
  width: 292px;
  height: 320px;
}

.catalogPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.filtersColumn {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.locationBox {
  margin-bottom: 40px;
}

.locationTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
  margin-bottom: 8px;
}

.locationInput {
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  width: 360px;
  height: 56px;
  background: #f7f7f7;
}

.filtersTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  margin-bottom: 32px;
}

.vehicleEquipmentContainer {
  margin-bottom: 32px;
}

.equipmentTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
  margin-bottom: 24px;
}

hr {
  border: none; /* Убираем стандартную границу */
  border-top: 1px solid #dadde1;
  margin-bottom: 24px;
}

.filterBlocksContainer {
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.filterItemBlocks {
  border: 1px solid #e44848;
  border-radius: 12px;
  /* padding: 16px 40px; */
  width: 112px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSearch {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: #e44848;
}

.typeBlocksContainer {
  height: 96px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
.vehicleTypeContainer {
  margin-bottom: 40px;
}
