.mainDetailContainer {
  display: flex;
  flex-direction: column;
  padding: 48px 64px 80px 64px;
}

.detailsContainer {
  width: 524px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
}

.namePrice {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.priceName {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}

.ratingLocation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.ratingPart {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.photoDetails {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-bottom: 28px;
}

.photoDetailsImg {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  object-fit: cover;
}

.descriptionDetails {
  margin-bottom: 62px;
}

.moreInfoDetails {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.line {
  margin-bottom: 42px;
}

.orderFormConrtainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.rightConrtainer {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px 57px;
  width: 641px;
  height: 588px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.leftConrtainer {
  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  height: 588px;
  background: #f7f7f7;
}

.vehicleTitle {
  margin-top: 52px;
  margin-bottom: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
}

.itemBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itemDetails {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #101828;
}

.linksContainer {
  display: flex;
  gap: 40px;
}

.linksToDetails {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
}

.dataField {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: #f7f7f7;
}

.formTitleBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
}

.helpMessage {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sendButton {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: #e44848;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
}

.mod {
  width: 527px;
  height: 118px;
  /* background: #f7f7f7;
  border-radius: 12px;
  padding: 18px 337px 18px 18px; */
}
